$border-color: $gray-200 !default; //defined in _bootstrap-variables.scss

// Navbar
$navbar-height: 55px !default;
$navbar-bg: #fff !default;
$navbar-border: ( bottom: ( size: 1px, style: solid, color: $border-color ) ) !default;
$navbar-color: $gray-600 !default;
$navbar-hover-color: $gray-800 !default; //defined in _bootstrap-variables.scss
$navbar-active-color: $gray-800 !default;
$navbar-disabled-color: $gray-300 !default; //defined in _bootstrap-variables.scss

$navbar-toggler-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-toggler-icon-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-hover-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

$navbar-brand-width: 155px !default;
$navbar-brand-bg: #fff !default;
$navbar-brand-logo: url('../img/logo.png') !default;
$navbar-brand-logo-size: 70px auto !default;
$navbar-brand-border: ( bottom: ( size: 1px, style: solid, color: $border-color ) ) !default;

$navbar-brand-minimized-width: 50px !default;
$navbar-brand-minimized-bg: $navbar-brand-bg !default;
$navbar-brand-minimized-logo: url('../img/logo-symbol.png') !default;
$navbar-brand-minimized-logo-size: 24px !default;
$navbar-brand-minimized-border: $navbar-brand-border !default;

// Footer
$footer-height: 50px !default;
$footer-bg: $gray-100 !default;  //defined in _bootstrap-variables.scss
$footer-color: $body-color !default; //defined in default bootstrap variables
$footer-borders: ( top: ( size: 1px, style: solid, color: $border-color ) ) !default; //defined in default bootstrap variables
